<footer>
    <span>
        &copy;Cyber Security Connections &nbsp;&nbsp;
        <a class="links" href="../about">ABOUT</a>  
        &nbsp;&nbsp; 
        <a class="links" href="../contact">CONTACT</a>
    </span>
    <a href="https://twitter.com/home"><img class="logos" src="/images/twitter-logo.png" alt="Oops, something went wrong!"></a>
    <a href="mailto:austinlamp4@gmail.com"><img class="logos" src="/images/email.png" alt="Oops, something went wrong!"></a>
    <a href="tel:704-215-3733"><img class="logos" src="/images/phone.jfif" alt="Oops, something went wrong!"></a>

</footer>
</body>
</html>