<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
</head>

<body>

    <header>
        <a href="/"><img class="logo" src="/images/logo.png" alt="Oops! Error has occured!"></a>
        <div class="navigation-bar">
            <a href="/" class="links">Homepage</a> |
            <a href="/connections/new" class="links">Start a new connection</a> |
            <a href="" class="links">Login</a> |
            <a href="" class="links">Sign up</a> 
        </div>
        <hr>
        <a href="/connections" id="connections">Connections</a>
    </header>

    <%if(errorMessages.length > 0) {%>
        <%errorMessages.forEach(message => {%>
            <div class='error'><%= message %></div>
        <%});%>
    <%}%>
    <%if(successMessages.length > 0) {%>
        <%successMessages.forEach(message => {%>
            <div class='success'><%= message %></div>
        <%});%>
    <%}%>