<%- include('./partials/header.ejs') %>
<main class="main-text">
    <p>
        Welcome to the Cyber Security Connections site!
        <br>
        <br>
        <br>
        This site was intended to be a useful resources for those interested in getting into Cybersecurity and general IT/Technology/Software Development. <br>
        It's a place to share events with like minded people who have similar interests and connect with other professionals within the field.<br>
        The goal of the site is aimed at providing people useful resources to learn and grow their career within the Cybersecurity industry and help<br> 
        fill the need for professionals. We hope to see you around!
    </p>
</main>
<%- include('./partials/footer.ejs') %>