<%- include('./partials/header.ejs') %>
<main class="main-text">
    <p>
        Welcome to the Cyber Security Connections site!
        <br>
        <br>
        <br>
        To interact with the site admin and add suggestions for the web page, please see the <br>l
        inks at the bottom right hand side of the page, directing you to my contact information.
        <br>
        <br>
        As a general refresher, the best way to reach me is through phone at <a href="tel:704-215-3733">704-215-3733</a><br>
        Another great way to contact me is through email at <a href="mailto:austinlamp4@gmail.com">austinlamp4@gmail.com</a>
        <br>
        <br>
        Please, feel free to contact me and reach out at ANY point in time!
        <br>
        <br>
        Regards,<br> Site Admin
    </p>
</main>
<%- include('./partials/footer.ejs') %>