<%- include('./partials/header.ejs') %>

    <main class="main-text">
        <p>
            Welcome to the Cyber Security Connections site!
            <br>
            <br>
            <br>
            All are welcome to attend events and connect with anyone who uses this site on this site, whether you're a beginner or an expert.
            <br>
            <br>
            This site is intended to connect those interested in security with each other to network, meet new people, learn, grow, and have fun together, whether that be 
            <br>
            through
            game competitions, studying for certifications, attend conferences/seminars, or other. 
            <br>
            <br>
            Everyone is welcome and is expected to be professional and not rude.
            <br>
            <br>
            <br>
            Please, feel free to browse the webpage and then click on "Connections" in the upper-left to browse available connections.
        </p>
    </main>

<%- include('./partials/footer.ejs') %>